#retour {
    font-weight: bold;
    text-decoration: none;
    color:aquamarine ;
}
#titre {
    color: aquamarine;
}
.txt {
    color: aquamarine;
}
#lien {
    text-decoration: none;
    font-weight: bold;
    color: #28252b;
}
#footer {
    background-color: aquamarine;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 8px;
}