#retour {
    color: aquamarine;
    text-decoration: none;
    font-weight: bold;
}
#titre {
    color: aquamarine;
}
#button {
    background-color: aquamarine;
    color: #28252b;
    border-color: blue;
    border-width: 3px;
    border-style:double;
    height: 45px;
    width: 200px;;
    font-weight: bold;
    border-radius: 7px;
    font-size: large;
}
.carte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
#button:hover {
    background-color: #3a8e3e;
}
.crt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#carte {
    width: 90%;
}
#footen {
    background-color: aquamarine;
    color: #28252b;
    padding-left: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
}