#retour {
    color: aquamarine;
    font-weight: bold;
    text-decoration: none;
}
#titre  {
    color: aquamarine;
}
#texte {
    color:aquamarine ;
}
#footer {
    background-color: aquamarine;
}
#lien {
    color:#28252b ;
    font-weight: bold;
    text-decoration: none;
}
.rgl {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: aquamarine;
    padding-right: 18px;
    padding-left: 18px;
}